* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */

/*Header*/
header{
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    position: fixed;
    background: #ffffff;
    z-index: 1000;
}

.header-container {
    max-width: 1286px;
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}

/* Header menu*/
.header-menu {
    width: 430px;
    height: 24px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;    
}

.text-link {
    width: 63px;
    height: 28px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    align-items: center;
}

.text-link a {
    width: 66px;
    height: 28px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

/* Header dropdown */
.header-menu-container {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #000000;
    margin: 5px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* Header icons */
.header-icons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: none;
}

@media (max-width:767px) {
    header{
        width: 100%;
        height: 80px;
        flex-direction: column;  
        gap: 6px;
        padding: 0 10px 0 10px;      
    }

    .header-container {
        width: 100%;  
        height: auto;
        margin: 0 10px 0 10px;
    }

    .header-logo {
        height: 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-self: flex-start;
    }

    .header-logo img {
        height: 30px;
        width: auto;
    }

    .header-logo button {
        background: transparent;
    }

    .header-menu-container {
        height: 30px;
        display: inline-block;
        cursor: pointer;
        border: none;
    }

    .header-menu {
        display: none;
    }

    .header-icons {
        width: 120px;
        align-self: flex-end;
    }

    .header-icon {
        height: 25px;
        width: auto;
    }

    .search-icon {
        display: none;
    }

    .search-container {
        display: contents;
        align-self: flex-end;
        width: 100%;
        margin: 0 10px 0 10px;
    }

    .search-container form{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #959595;
    }

    .search-container input{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border: none;
    }

    .search-container button{
        height: 30px;
        border: none;
        background: none;
    }

}

/* Main */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Discover */

.discover {
    width: 100%;
    height: 716px;  
    background-image: url("images/Discover-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-container {
    position: absolute;
    width: 643px;
    height: 443px;
    top: 150px;
    left: 739px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;    
    background: #FFF3E3;   
}

.discover-text-content {    
    width: 561px;
    height: 344px;  
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discover-text-content h6{
    width: 123px;
    height: 24px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #333333;  
}

.discover-text-content h1{
    width: 559px;
    height: 127px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #B88E2F; 
}

.discover-text-content p{
    width: 546px;
    height: 52px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;        
}

.discover-button button {
    align-self: flex-start;
    width: 222px;
    height: 74px;
    background: #B88E2F;  
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

@media (max-width:767px) {
    .discover{
        width: 100%;
    }

    .discover-container{
        display: none;
    }
}

/* Browse */
.browse {
    width: 100%;
    height: 685;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.browse-text-content {
    width: 559px;
    height: 76px; 
}

.browse-text-content h2 {
    width: 559px;
    height: 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333333;
}

.browse-text-content p {
    width: 559px;
    height: 28px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #666666;
}

.browse-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}

.browse-item-1, .browse-item-2, .browse-item-3 {
    width: 381px;
    height: 540px;
}

.browse-item {
    width: 381px;
    max-height: 480px;   
    border-radius: 10px;     
}

.browse-heading {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.browse-heading a {
    color: #333333;
    text-decoration: none;
}

.browse-heading h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
}

@media (max-width:767px) {
    .browse-row {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .browse-item-1, .browse-item-2, .browse-item-3 {
        width: 100%;
        height: auto;
    }

    .browse-item img{
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .browse-heading {
        height: 40px;
    }

    .browse-text-content h2 {
        font-size: 24px;
    }
    
    .browse-text-content p {
        font-size: 16px;
    }

    .browse-heading h3 {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    main {
        overflow: hidden;
    }
}

/* Footer */

/* SHOP */

/* SINGLE PRODUCT */

/* CONTACT */

/* BLOG */