* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */

/*Header*/
header{
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 0;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(174, 174, 174, 0.1);
    z-index: 1000;
}

.header-container {
    max-width: 1286px;
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}

/* Header menu*/
.header-menu {
    width: 430px;
    height: 24px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;    
}

.text-link {
    width: 63px;
    height: 28px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    align-items: center;
}

.text-link a {
    width: 66px;
    height: 28px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

/* Header dropdown */
.header-menu-container {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #000000;
    margin: 5px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* Header icons */
.header-icons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: none;
}

@media (max-width:767px) {
    header{
        width: 100%;
        height: 80px;
        flex-direction: column;  
        gap: 6px;
        padding: 0 10px 0 10px;      
    }

    .header-container {
        width: 100%;  
        height: auto;
        margin: 0 10px 0 10px;
    }

    .header-logo {
        height: 30px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-self: flex-start;
    }

    .header-logo img {
        height: 30px;
        width: auto;
    }

    .header-logo button {
        background: transparent;
    }

    .header-menu-container {
        height: 30px;
        display: inline-block;
        cursor: pointer;
        border: none;
    }

    .header-menu {
        display: none;
    }

    .header-icons {
        width: 110px;
        align-self: flex-end;
    }

    .header-icon {
        height: 25px;
        width: auto;
    }

    .search-icon {
        display: none;
    }

    .search-container {
        display: contents;
        align-self: flex-end;
        width: 100%;
        margin: 0 10px 0 10px;
    }

    .search-container form{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #959595;
    }

    .search-container input{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border: none;
    }

    .search-container button{
        height: 30px;
        border: none;
        background: none;
    }

}

/* Main */
main{
    width: 100%;
    margin-top: 100px;

}

.main-container {
    gap: 50px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Discover */

.discover {
    width: 100%;
    height: 716px;  
    background-image: url("images/Discover-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-container {
    position: absolute;
    width: 643px;
    height: 443px;
    top: 150px;
    left: 739px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;    
    background: #FFF3E3;   
}

.discover-text-content {    
    width: 561px;
    height: 344px;  
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discover-text-content h6{
    width: 123px;
    height: 24px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #333333;  
}

.discover-text-content h1{
    width: 559px;
    height: 127px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #B88E2F; 
}

.discover-text-content p{
    width: 546px;
    height: 52px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;        
}

.discover-button button {
    align-self: flex-start;
    width: 222px;
    height: 74px;
    background: #B88E2F;  
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

@media (max-width:767px) {
    .discover{
        width: 100%;
    }

    .discover-container{
        display: none;
    }
}

/* Browse */
.browse {
    width: 100%;
    height: 685px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.browse-text-content {
    width: auto;
}

.browse-text-content h2 {
    width: auto;
    height: 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333333;
}

.browse-text-content p {
    width: auto;
    height: 28px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #666666;
    white-space: normal;
    word-wrap: break-word;
}

.browse-row {
    width: 1183px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.browse-item-1, .browse-item-2, .browse-item-3 {
    width: 381px;
    height: 540px;
}

.browse-item {
    width: 381px;
    max-height: 480px;   
    border-radius: 10px;     
}

.browse-heading {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.browse-heading a {
    color: #333333;
    text-decoration: none;
}

.browse-heading h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
}

@media (max-width:767px) {
    .browse {
        width: 100%;
        height: auto;
    }

    .browse-row {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .browse-item-1, .browse-item-2, .browse-item-3 {
        width: 300px;
        height: auto;
    }

    .browse-item img{
        width: 300px;
        height: auto;
        padding: 20px;
        align-self: center;
    }

    .browse-heading {
        height: 40px;
    }

    .browse-text-content h2 {
        font-size: 24px;
    }
    
    .browse-text-content p {
        width: 100%;
        font-size: 16px;
    }

    .browse-heading h3 {
        font-size: 24px;
    }
}

/* Products */
.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.products h2 {
    width: 269px;
    height: 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #3A3A3A;  
}

/* Products items */
.products-row-1, .products-row-2 {
    width: 1236px;
    height: 446px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 32px;    
}

.products-item {
    width: 285px;
    height: 446px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.products-item a {
    position: relative;
    text-decoration: none;  
    background: #F4F5F7;  
    z-index: 1;
}

.product-item img {
    display: block;
    transition: opacity 0.3s ease;
}

.products-item-text {
    position: relative;
    z-index: 2;
    width: 285px;
    height: 145px;
    padding: 20px;
    gap: 10px;
    background: #F4F5F7;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start; 
}

.products-item-text h6 {
    width: 123px;
    height: 29px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 26px;
    line-height: 28.8px;
    color: #3A3A3A;
}

.products-item-text p {
    width: 224px;
    height: 24px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #898989;  
}

.product-price {
    width: 249px;
    height: 30px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price h4 {
    width: 131px;
    height: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #3A3A3A; 
}

.product-price p {
    width: 102px;
    height: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
    color: #B0B0B0;        
}

/* Products item overlay */
.products-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
    cursor: default;
}

.products-item:hover .products-overlay {
    opacity: 1;
}

.overlay-button {
    width: 202px;
    height: 48px;
    background-color: #ffffff;
    color: #B88E2F;
    border: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.overlay-button:hover {
    background-color: #B88E2F;
    color: #ffffff;
}

.overlay-interact-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: transparent;
}

.overlay-interact-buttons button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Products button */
.products-action {
    width: 245px;
    height: 48px;
}

.show-more-btn{
    width: 245px;
    height: 48px;
    border: 1px solid #B88E2F;
    background-color: #ffffff;
    color: #B88E2F;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.show-more-btn:hover {
    background-color: #B88E2F; 
    color: #ffffff;
}

.products-action a{
    width: 89px;
    height: 24px; 
    text-decoration: none;
}

@media (max-width:767px) {
    .products-row-1, .products-row-2 {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 32px;    
    }

}

/* Inspiration */
.inspiration {
    width: 100%;
    height: 670px;
    background: #FCF8F3;
}

.inspiration-container {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Inspiration text */
.inspiration-text-content {
    width: 422px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.inspiration-text-content h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #3A3A3A;    
}

.inspiration-text-content p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #616161;    
}

.inspiration-text-content a {
    width: 176px;
    height: 48px;
    background: #B88E2F;
    color: #ffffff;
}

.explore-button button  {
    width: 176px;
    height: 48px;
    background: #B88E2F;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

/* Inspiration products */
.inspiration-products {
    width: 792px;
    height: 582px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.inspiration-bedroom {
    position: relative;
    width: 404px;
    height: 582px; 
}

.inspiration-textbox{
    position: absolute;
    width: 217px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(32px);
    background-color: rgba(255, 255, 255, 0.777); 
}

.inspiration-textbox p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #616161;    
}

.inspiration-textbox h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 33.6px;
    color: #3A3A3A;
}

.inspiration-slide {
    display: flex;
    flex-direction: row;
    width: 372px;
}

.inspiration-item {
    width: 372px;
    height: 486px;
}

@media (max-width:767px) {
    .inspiration-container {
        flex-direction: column;
    }
}

/* Furniture */

.furniture-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.furniture-text-content p {
    width: 222px;
    height: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #616161;  
}

.furniture-text-content h4 {
    width: 356;
    height: 48;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #3A3A3A;        
}

.furniture-items {
    width: 100%;
    height: 721px;   
}

@media (max-width:767px)  {
    .furniture-items {
        height: 700px;   
    }
}

/* Footer */
footer {
    width: 100%;
    height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #0000002B;
}

.footer-container {
    width: 1240px;
    height: 419px;   
}

/* Footer content */
.footer-content {
    display: flex;
    flex-direction: row;
    height: 360px;
    gap: 150px;
}

.footer-text {
    height: 312px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-text h6, .footer-text a{
    width: 85px;
    height: 36px;   
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;    
    text-decoration: none;
}

.footer-text p {
    width: 285px;
    height: 72px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9F9F9F;        
}

/* Footer column */
.footer-column {
    display: flex;
    flex-direction: row;
    height: 312px;
    gap: 150px;
}

.footer-column-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
}

.footer-item-header h6 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #9F9F9F;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-items li{
    list-style: none;
    padding-bottom: 40px;
    display: block;
}

.footer-links-items a {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;   
    white-space: nowrap;
}

.footer-help-items a {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000; 
    white-space: nowrap;
}

/* Newsletter input */
.newletter-input input{
    width: 173px;
    height: 21px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9F9F9F; 
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.newletter-button {
    width: 75px;
    height: 22px; 
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;   
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);

}

/* Furniro rights */
.furniro-rights {
    max-width: 1240px;
    height: 59px;
    border-top: 1px solid #D9D9D9;   
}

.furniro-rights p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000; 
}

@media (max-width:767px) {
    footer {
        height: 860px;
        justify-content: center;
    }

    .footer-container {
        height: 860px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        height: 800px;     
        gap: 50px;  
    }

    .footer-text {
        height: 200px;
        align-self: center;
    }

    .footer-column {
        flex-direction: column;
        height: 600px;
        gap: 50px;
    }

    .footer-column-items {
        gap: 50px;
        align-self: center;
    }

    .footer-newsletter {
        align-self: center;
    }

}


/* SHOP */
.shop-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.shop-header {
    width: 100%;
    height: 316px;
    position: relative;
    text-align: center;
    background-image: url(images/shop_header.jpg);
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
}

.centered h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;    
}

.centered p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;    
}

/* Shop filter */
.shop-filter {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    background: #F9F1E7;   
}

/* Shop items */
.shop-items {
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 50px;   
}

.shop-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}

.shop-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.shop-btn button{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #F9F1E7;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #000000;  
}

.shop-btn-next button {
    width: 98px;
    height: 60px;
    border-radius: 10px;   
    border: none;
    background: #F9F1E7;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #000000;   
}

.shop-btn button:hover {
    background: #B88E2F;
    color: #FFFFFF;  
}

.shop-btn-next button:hover {
    background: #B88E2F;
    color: #FFFFFF;  
}

.shop-values {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    justify-content: space-between; 
    background: #FAF3EA;
}

@media (max-width:767px)  {
    .shop-products {
        grid-template-columns: repeat(1, 1fr);
    }

    .shop-btn button{
        width: 40px;
        height: 40px;
    }

    .shop-btn-next button {
        width: 60px;
        height: 40px;
    }

    .shop-values {
        height: auto;
        flex-direction: column;
        padding: 40px 0 40px 0;
        gap: 40px;
    }
}

/* SINGLE PRODUCT */

/* CONTACT */

/* BLOG */


@media (max-width:767px) {
    main {
        overflow: hidden;
        width: 100%;
        margin-top: 0px;
    }
}